<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/baa17ca056.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
